<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<th:block th:fragment="bootstrap">
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link th:rel="stylesheet"
		th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
	<!-- Bootstrap JS -->
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"
		defer></script>
</th:block>
</head>
<body>
	<!-- HEADER fragment -->
	<header th:fragment="header"
		class="row border p-2 align-items-center justify-content-center">
		<div class="col-3">
			<h2>Best of:</h2>
		</div>
		<div class="col-3">
			<a th:href="@{/movies}" class="btn btn-primary btn-block">Movies</a>
			<!-- DINAMIC URL -->
		</div>
		<div class="col-3">
			<a th:href="@{/songs}" class="btn btn-primary btn-block">Songs</a>
			<!-- DINAMIC URL -->
		</div>
	</header>
	<!-- /HEADER fragment -->

	<!-- MOVIES fragment -->
	<main th:fragment="movies">
		<h1>List of Movies</h1>
		<ul>
			<li th:each="movie : ${movies}"><a
				th:href="@{movie/{id}(id=${movie.id})}"> 
				[[${movie.id}]] - [[${movie.title}]]></a></li>
		</ul>
	</main>
	<!-- /MOVIES fragment -->

	<div class="mt-5" th:fragment="homeLink">
		<a th:href="@{/}" class="btn btn-primary btn-block">Homepage</a>
	</div>

</body>
</html>